# Filter wsn data

TODO:
- add logging
- add logic to exit script if no data

## Load libraries

In [2]:
from wsn_client import query
import datetime, os
from matplotlib import pyplot
import numpy as np
import pandas as pd
import os.path

## Load one station

In [6]:
# Time period
start = datetime.datetime(2022, 5, 1)
end = datetime.datetime(2022,6,1)#(2020, 10, 10)

# Load station
#station_name =   [ f"sw-{x:03d}"  for x in range(1,14) ]
#for name in station_name:
name = "sw-210"
#var_oi = ['tmp_temperature','bme_hum'] #[]'type','acc_x','acc_y','acc_z','ds1820','mb_distance','vl_distance','tmp_temperature'
df = query.query('postgresql', name=name, time__gte=start, time__lte=end, limit=2000000000000)

# Check if empty
if df.empty: 
    print(name," --- Frame is >> EMPTY <<")
    
    # Add logic to exit script and log error
    
else:     
    # Remove non recorded data
    if 'type' in df.columns:
        df = df[df.type==0]   # select only type of frame containing data
    print(name)
    # Remove duplicated indexes and frames
    df = df.drop_duplicates(['time', 'frame'])
    # Printing Number of columns and names
    print('Number of columns :', df.shape[1]) 
    print(df.columns)

sw-210
Number of columns : 24
Index(['time', 'bat', 'frame', 'received', 'type', 'acc_x', 'acc_y', 'acc_z',
       'int_tc', 'wind_x', 'wind_y', 'int_hum', 'int_pres', 'wind_dir',
       'wind_gust', 'wind_temp', 'wind_speed', 'mb_distance', 'remote_addr',
       'altitude', 'latitude', 'longitude', 'gps_accuracy', 'gps_satellites'],
      dtype='object')

In [3]:
df
# print("NaN percentage per column")
# print((df.isna().sum()/len(df)*100).round(2))

,time,frame,type,bat,acc_x,acc_y,acc_z,bme_tc,int_tc,bme_hum,...,longitude,gps_accuracy,gps_satellites,mlx_object,mlx_ambient,received,momsn,iridium_cep,iridium_latitude,iridium_longitude
time,,,,,,,,,,,,,,,,,,,,,
2019-04-06 15:00:00,1554562800,1,0,100.0,30.198678,1.203300,56.824670,22.820000,24.559999,12.080078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-06 15:10:00,1554563400,1,0,100.0,90.000000,8.221481,-1.031380,23.020000,24.520000,11.994141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-06 15:20:00,1554564000,1,0,99.0,90.000000,-2.865984,-0.458371,23.590000,24.850000,10.735352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-06 15:30:00,1554564600,2,0,99.0,90.000000,-2.521828,0.114592,23.889999,24.809999,11.067383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-04-06 15:40:00,1554565200,3,0,99.0,90.000000,-2.579181,0.171888,24.070000,24.959999,10.757812,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-31 21:20:00,1559337600,88,0,100.0,-90.000000,-0.458371,0.572967,-0.140000,2.190000,65.060547,...,NaN,NaN,NaN,-4.929993,0.089996,NaN,NaN,NaN,NaN,NaN
2019-05-31 21:30:00,1559338200,89,0,100.0,-90.000000,-0.630266,0.859469,-0.780000,1.970000,67.336914,...,NaN,NaN,NaN,-5.109985,-0.290009,NaN,NaN,NaN,NaN,NaN
2019-05-31 21:40:00,1559338800,90,0,100.0,-90.000000,-1.031380,0.974075,-0.640000,1.960000,66.371094,...,NaN,NaN,NaN,-4.890015,-0.290009,NaN,NaN,NaN,NaN,NaN
2019-05-31 21:50:00,1559339400,91,0,100.0,-90.000000,-0.458371,0.687566,-0.090000,1.980000,63.269531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-31 22:00:00,1559340000,92,0,100.0,-90.000000,-0.343777,0.744866,-0.120000,2.140000,64.360352,...,NaN,NaN,NaN,-4.809998,0.170013,NaN,NaN,NaN,NaN,NaN

In [4]:
# Group sensor by variable
sensor_temp = ['tmp_temperature','bme_tc']
sensor_hum = ['bme_hum']
sensor_pres = ['bme_pres']
sensor_snow = ['mb_distance','vl_distance']#d1 = df.mb_distance.apply(lambda x: np.median(np.array(x)))
sensor_wind = ['wind_dir','wind_gust','wind_speed']
sensor_acc = ['acc_x','acc_y','acc_z']
sensor_tss = ['mlx_ambient']

# can be added later: 'ds1820'

#Add column names and 
sensor_toget = pd.Series([sensor_temp[0],sensor_hum[0],sensor_pres[0],sensor_snow[0],sensor_wind[0],sensor_wind[2]])
sensor_colnames = pd.Series(['temperature','humidity','air_pressure','snow_depth','wind_direction','wind_speed'])
column_toget = sensor_toget.isin(df.columns)

In [5]:
coord=df[df.columns[df.columns.isin(['latitude','longitude','altitude'])]][df.gps_satellites>7].agg(['mean','median', 'std']).round(4)
df['mb_distance'] = df.mb_distance.apply(lambda x: np.median(np.array(x)))

In [7]:
# Extract wanted and existing columns
df2=df[sensor_toget[column_toget]]
df2.columns=sensor_colnames[column_toget]
#coltoget2 = ['bme_tc','bme_hum', 'bme_pres', 'mlx_object','mb_distance',]
#df[df.columns[df.columns.isin(coltoget2)]]
for i in range(column_toget.sum()):
    df2.insert(i*2+1,sensor_colnames[i]+'_qc','False')
df2

,temperature,temperature_qc,humidity,humidity_qc,air_pressure,air_pressure_qc,snow_depth,snow_depth_qc
time,,,,,,,,
2019-04-06 15:00:00,22.6875,False,12.080078,False,103088.164062,False,2165.0,False
2019-04-06 15:10:00,22.8750,False,11.994141,False,103092.312500,False,1203.0,False
2019-04-06 15:20:00,23.4375,False,10.735352,False,103091.242188,False,1910.0,False
2019-04-06 15:30:00,23.7500,False,11.067383,False,103101.437500,False,1237.0,False
2019-04-06 15:40:00,23.9375,False,10.757812,False,103115.226562,False,1254.0,False
...,...,...,...,...,...,...,...,...
2019-05-31 21:20:00,0.5625,False,65.060547,False,96785.093750,False,1088.0,False
2019-05-31 21:30:00,0.0000,False,67.336914,False,96802.757812,False,1087.0,False
2019-05-31 21:40:00,0.1250,False,66.371094,False,96792.992188,False,1088.0,False
2019-05-31 21:50:00,0.6250,False,63.269531,False,96785.828125,False,1087.0,False
2019-05-31 22:00:00,0.6250,False,64.360352,False,96786.625000,False,1087.0,False

In [39]:
from sqlalchemy import create_engine, DateTime, Integer, Numeric
engine = create_engine('sqlite://', echo=False)
df2.to_sql('sw001',con=engine, index=True)#, dtype={'time', DateTime(), 'temperature', Numeric()}
engine.execute("SELECT * FROM sw001",named)

NameError: name 'named' is not defined

In [395]:
df2 = df2.astype(str) + ','
# Assign empty columns for each QC data flag 
for i in range(column_toget.sum()):
    print(sensor_colnames[i])
    df2.insert(i*4,sensor_colnames[i]+'_name',"'" + sensor_colnames[i] + "':")
    df2.insert(i*4+2,sensor_colnames[i]+'_name_qc',"'" + sensor_colnames[i] + "_qc':")

#for i in range(column_toget.sum()):
#    print(sensor_colnames[i])
#    df2.insert(i*4,sensor_colnames[i]+'_name',"'" + sensor_colnames[i] + "':")
#    df2.insert(i*4+2,sensor_colnames[i]+'_name_qc',"'" + sensor_colnames[i] + "_qc':")
#    df2.insert(i*4+3,sensor_colnames[i]+'_qc','False,')
#df2.loc[:,colnames[0]+"_qc"] = False
#colnames[coltoget2.isin(df.columns)]+'_qc'
df2

temperature
humidity
air_pressure
snow_depth

,temperature_name,temperature,temperature_name_qc,temperature_qc,humidity_name,humidity,humidity_name_qc,humidity_qc,air_pressure_name,air_pressure,air_pressure_name_qc,air_pressure_qc,snow_depth_name,snow_depth,snow_depth_name_qc,snow_depth_qc
time,,,,,,,,,,,,,,,,
2019-04-06 15:00:00,'temperature':,"22.6875,",'temperature_qc':,"False,",'humidity':,"12.080078125,",'humidity_qc':,"False,",'air_pressure':,"103088.1640625,",'air_pressure_qc':,"False,",'snow_depth':,"2165.0,",'snow_depth_qc':,"False,"
2019-04-06 15:10:00,'temperature':,"22.875,",'temperature_qc':,"False,",'humidity':,"11.994140625,",'humidity_qc':,"False,",'air_pressure':,"103092.3125,",'air_pressure_qc':,"False,",'snow_depth':,"1203.0,",'snow_depth_qc':,"False,"
2019-04-06 15:20:00,'temperature':,"23.4375,",'temperature_qc':,"False,",'humidity':,"10.7353515625,",'humidity_qc':,"False,",'air_pressure':,"103091.2421875,",'air_pressure_qc':,"False,",'snow_depth':,"1910.0,",'snow_depth_qc':,"False,"
2019-04-06 15:30:00,'temperature':,"23.75,",'temperature_qc':,"False,",'humidity':,"11.0673828125,",'humidity_qc':,"False,",'air_pressure':,"103101.4375,",'air_pressure_qc':,"False,",'snow_depth':,"1237.0,",'snow_depth_qc':,"False,"
2019-04-06 15:40:00,'temperature':,"23.9375,",'temperature_qc':,"False,",'humidity':,"10.7578125,",'humidity_qc':,"False,",'air_pressure':,"103115.2265625,",'air_pressure_qc':,"False,",'snow_depth':,"1254.0,",'snow_depth_qc':,"False,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-05-31 21:20:00,'temperature':,"0.5625,",'temperature_qc':,"False,",'humidity':,"65.060546875,",'humidity_qc':,"False,",'air_pressure':,"96785.09375,",'air_pressure_qc':,"False,",'snow_depth':,"1088.0,",'snow_depth_qc':,"False,"
2019-05-31 21:30:00,'temperature':,"0.0,",'temperature_qc':,"False,",'humidity':,"67.3369140625,",'humidity_qc':,"False,",'air_pressure':,"96802.7578125,",'air_pressure_qc':,"False,",'snow_depth':,"1087.0,",'snow_depth_qc':,"False,"
2019-05-31 21:40:00,'temperature':,"0.125,",'temperature_qc':,"False,",'humidity':,"66.37109375,",'humidity_qc':,"False,",'air_pressure':,"96792.9921875,",'air_pressure_qc':,"False,",'snow_depth':,"1088.0,",'snow_depth_qc':,"False,"
2019-05-31 21:50:00,'temperature':,"0.625,",'temperature_qc':,"False,",'humidity':,"63.26953125,",'humidity_qc':,"False,",'air_pressure':,"96785.828125,",'air_pressure_qc':,"False,",'snow_depth':,"1087.0,",'snow_depth_qc':,"False,"
2019-05-31 22:00:00,'temperature':,"0.625,",'temperature_qc':,"False,",'humidity':,"64.3603515625,",'humidity_qc':,"False,",'air_pressure':,"96786.625,",'air_pressure_qc':,"False,",'snow_depth':,"1087.0,",'snow_depth_qc':,"False,"

In [396]:
#'[' + 'temperature: ' + df2.temperature.astype(str) + ', ' + 'temperature_qc: ' + df2.temperature_qc.astype(str) + ']'
#df3['metadata']
df2['data'] = df2.apply(lambda x: '{'+ ' '.join(x.astype(str)) +"}" , axis=1)
df2.insert(0,'metadata',name)
df2 = df2[['metadata','data']]
df2.to_csv('wsn_filter_output.csv')

In [ ]:
df2

NameError: name 'df' is not defined

In [376]:
df2.apply(lambda x: '{'+ ' '.join(x.astype(str)) +"}" , axis=1).to_csv('wsn_filter_output.csv')

In [ ]:
if type(df2.loc[0,1]) == str: print('string')

In [ ]:
def quality_control_air_temperature(df,f_update=False,f_print=True):
    """Apply quality control on air temperature data.

    The following tests are applied:
        - Must pass monthly temperature limit. QC.

    Parameters
    ----------
    df : pandas.core.frame.DataFrame
        data downloaded from wsn
    flag_update : boolean
        Flag to recompute the monthly min and max of the temperature (saved 
        in csv at data_qc/temperature_,monthly_limit.csv)
    """

    sensor_temp = ['tmp_temperature','bme_tc']
        
    
    if all(~df.columns.isin(sensor_temp)):
        if f_print: print('No temperature data defined as:')
        if f_print: print(sensor_temp) 
        temp=None
        return(temp)
        
    # Update monthly limits and save it in a csv file (can be manually edited)
    filename='data_qc/temperature_monthly_limit.csv'
    if (f_update) | (~os.path.isfile(filename)): 
        update_file_temperature_monthly_limits(df.tmp_temperature,filename,f_print)
    
    # Load and select data source
    if f_print: print('Load temperature data')        
    col_to_get=df.columns.isin([sensor_temp[0]])
    if any(col_to_get):
        temp=df[df.columns[col_to_get]]
        if f_print: print(temp)
        
        #### Quality Control -- 0) -- Remove installation period
        
        
        
        #### Quality Control -- 2) -- Range limit
        if f_print: print(temp)
     

        #### Quality Control -- 1) -- Monthly limit
        limit_table = pd.read_csv(filename)
        temp.loc[:,sensor_temp[0] + '_qc'] = df[[sensor_temp[0]]].apply(lambda x: qc_temperature_monthly_limits(x,limit_table,
                                                                                                      var='temp'),axis=1)
        
        #### Quality Control --3) -- Temperature sensor divergence
    
    return(temp)



def update_file_temperature_monthly_limits(df,filename='data_qc/temperature_monthly_limit.csv',f_print=True):
    """Compute monthly air temperature minum and maximum.

    Parameters
    ----------
    df : pandas.core.frame.DataFrame
        temperature data downloaded from wsn
    """
    if f_print: print('Update monthly limits for Air Temperature')
    monthly_data = df.groupby(df.index.month).agg(['min', 'max','std','count']).round(2)
    monthly_data = monthly_data.rename(columns={'min':'temp_min','max':'temp_max',
                                                'std':'temp_std','count':'temp_count'})
    monthly_data.to_csv(filename, index_label='month')
    
    
def qc_temperature_monthly_limits(x,limit_table, var='temp'):
    """Compute whether points are in range and assign quality assessment.
    
    The function is built for apply() and needs to be run as followed:
    qc_range=df[['tmp_temperature']].apply(lambda x: fun(x,limit_table),axis=1)
    
    Parameters
    ----------
    x : pandas.core.frame.DataFrame (one column)
        temperature data downloaded from wsn
    limit_table : pandas.core.frame.DataFrame 
        defining the limit in temperature range per month
    var : string
        name of the variable
    """
    limit = limit_table[limit_table.month.values==x.name.month]
    out = (x<limit.iloc[0][var + '_min']) | (x>limit.iloc[0][var + '_max'])
    out.at[out] = 'QC1-1'
    return out

def qc_sensor_range_limits(x,limit_table, var='temp'):
    """Logical selection of points outside of the sensor range 
    and allocation of quality assessment.
    
    The function is built for apply() and needs to be run as followed:
    qc_range=df[['tmp_temperature']].apply(lambda x: fun(x,limit_table),axis=1)
    
    Parameters
    ----------
    x : pandas.core.frame.DataFrame (one column)
        temperature data downloaded from wsn
    limit_table : pandas.core.frame.DataFrame 
        defining the limit in temperature range per month
    var : string
        name of the variable
    """
    limit=limit_table
    out=(x<limit.iloc[0][var + '_min']) | (x>limit.iloc[0][var + '_max'])
    out.at[out]='QC1-0'
    return out

def qc_maintenance_periods(x,limit_table, var='temp'):
    """Assign quality assessment for maintenance period in order to 
        remove them later.
    
    
    Parameters
    ----------
    x : pandas.core.frame.DataFrame (one column)
        temperature data downloaded from wsn
    limit_table : pandas.core.frame.DataFrame 
        defining the limit in temperature range per month
    var : string
        name of the variable
    """
    
    # read file with dates of installation
    deployed = pd.read_csv('data_qc/operating_periods.csv', parse_date=[1,2])
        
    # Define loop parameter to consider the case for mutiple station here
    stn_avail = deployed.station.unique()
        
    for stn in stn_avail:
        for interval in deployed.loc[deployedoyed.stn==stn].iterrows():
            df['temp_qc'].loc[interval.start:interval.stop] = 1

    return out

## Function to update monthly limits in temperature

In [21]:
df=df[0:1000]

In [22]:
sensor_temp = ['tmp_temperature','bme_tc']
# Update monthly limits and save it in a csv file (can be manually edited)
filename='data_qc/temperature_monthly_limit.csv'

# Load and select data source
print('Load temperature data')        
col_to_get=df.columns.isin([sensor_temp[0]])
if any(col_to_get):
    temp=df[df.columns[col_to_get]]
#     print(temp)

    # Quality Control -- 1) -- Monthly limit
    limit_table=pd.read_csv(filename)
    df2=pd.DataFrame()
    
    tm=df[[sensor_temp[0]]].apply(lambda x: qc_temperature_monthly_limits(x,limit_table,var='temp'))
    df2[sensor_temp[0] + '_qc']=tm
    print(temp)

Load temperature data

AttributeError: 'str' object has no attribute 'month'

In [28]:
df2

Empty DataFrame
Columns: []
Index: []

## TEST ZONE

In [17]:
tmp=quality_control_air_temperature(df)

Update monthly limits for Air Temperature
Load temperature data
                     tmp_temperature
time
2019-04-06 15:00:00          22.6875
2019-04-06 15:10:00          22.8750
2019-04-06 15:20:00          23.4375
2019-04-06 15:30:00          23.7500
2019-04-06 15:40:00          23.9375
...                              ...
2019-04-13 13:10:00          -6.5625
2019-04-13 13:20:00          -6.3750
2019-04-13 13:30:00          -6.6250
2019-04-13 13:40:00          -6.6875
2019-04-13 13:50:00          -6.6250

[1000 rows x 1 columns]
                     tmp_temperature  tmp_temperature_qc
time
2019-04-06 15:00:00          22.6875                 NaN
2019-04-06 15:10:00          22.8750                 NaN
2019-04-06 15:20:00          23.4375                 NaN
2019-04-06 15:30:00          23.7500                 NaN
2019-04-06 15:40:00          23.9375                 NaN
...                              ...                 ...
2019-04-13 13:10:00          -6.5625                 NaN
2019-04-13 13:20:00          -6.3750                 NaN
2019-04-13 13:30:00          -6.6250                 NaN
2019-04-13 13:40:00          -6.6875                 NaN
2019-04-13 13:50:00          -6.6250                 NaN

[1000 rows x 2 columns]

/Users/pmlefeuv/miniconda3/envs/uioData/lib/python3.7/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/pmlefeuv/miniconda3/envs/uioData/lib/python3.7/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [390]:
# tmp=quality_control_air_temperature(df[df.columns[1:3]])

In [9]:
tmp

                     tmp_temperature tmp_temperature_qc
time
2019-04-06 15:00:00          22.6875              False
2019-04-06 15:10:00          22.8750              False
2019-04-06 15:20:00          23.4375              False
2019-04-06 15:30:00          23.7500              False
2019-04-06 15:40:00          23.9375              False
...                              ...                ...
2020-01-07 19:00:00          -8.6250              False
2020-01-07 19:10:00          -8.6875              False
2020-01-07 19:20:00          -8.5625              False
2020-01-07 19:30:00          -8.6250              False
2020-01-07 19:40:00         248.3125              QC1-1

[35868 rows x 2 columns]

In [23]:
df.columns[df.columns.isin(sensor_temp)]

Index(['bme_tc', 'tmp_temperature'], dtype='object')

In [24]:
sensor_temp[0] + '_qc'

'tmp_temperature_qc'

## Function to control periods of station installation or maintenance

In [25]:
(df.index>pd.to_datetime('2019-04-08')) & (df.index<pd.to_datetime('2019-04-10'))

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [28]:
df.all()
df.columns[df.columns.isin(sensor_temp)]

Index(['bme_tc', 'tmp_temperature'], dtype='object')